<% if @error %>
  <h2><%= @error %></h2>
<% end %>
<h1><%= @post ? "Edit Post" : "New Post" %></h1>

<form action="<%= @post ? "/posts/update/#{@post.id}" : "/posts/create" %>">


  <label for="title">Title</label>
  <input id="title" name="title" value="<%= @post ? @post.title : "" %>">

  <label for="content">Content</label>
  <textarea id="content" name="content"><%= @post ? @post.content : "" %></textarea>

  <button><%= @post ? "Update Post" : "Create Post" %></button>
</form>
